#bloco_habilidades{
    background-color: black;
    color: white;
    display: block;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 20px 0px;
}

#bloco_habilidades h3 {
    background-color: black;
    color: white;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#nav_habilidades  {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:  100%;
    height: 250px;
}

#nav_habilidades img {
    width: 250px;
    height: 150px;
}
